*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
jcalendar-1.4.jar
ojdbc6.jar
poi-3.14-20160307.jar
*.war
*.ear
ASQLSavedConnections
ASQLSavedOptions
ASQLSavedSchedules
.classpath
.project
.settings
.gitignore

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/bin/
